footer{
    width: 100vw;
    height: 691px;
    background-color: #311F09;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .centr{
        width: 1112px;
        height: 335px;
        display: flex;
        align-items: start;
        justify-content: space-between;
        .first{
            width: 352px;
            height: 315px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: white;
            font-size: 20px;
            .fac{
                width: 132px;
                height: 51px;
            }
            .yeezy{
                width: 240px;
                height: 60px;
                display: flex;
                justify-content: space-between;
            }
        }
        .second{
            width: 123px;
            height: 335px;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            h1{
                font-size: 25px;
                color: #FF8A00;
            }
            p{
                font-size: 20px;
                color: #E3E2E0;
            }
        }
        .third{
            width: 153px;
            height: 225px;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            h1{
                font-size: 25px;
                color: #FF8A00;
            }
            p{
                font-size: 20px;
                color: #E3E2E0;
            }
        }
        .fourth{
            width: 280px;
            height: 247px;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            h1{
                font-size: 25px;
                color: #FF8A00;
            }
            p{
                font-size: 20px;
                color: #E3E2E0;
            }
        }
    }
    .end{
        font-size: 20px;
        color: white;
    }
}