*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100vw;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: white;
    nav{
        width: 1520px;
        height: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        ul{
            width: 800px;
            height: 41px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            list-style: none;
            li{
                text-decoration: none;
                font-size: 20px;
                a{
                    color: black;
                    text-decoration: none;
                }
                a:hover{
                    
                    color: #FF8A00;
                }
            }
        }
        .foto{
            width: 231px;
            height: 57px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .yezzy{
            width: 287px;
            height: 61px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .kut{
                width: 112px;
                height: 50px;
                font-size: 14px;
                border-radius: 30px;
                border: none;
                color: white;
                cursor: pointer;
                background-color: #3FA72F;
            }
        }
    }
}