.Nacalo2{
    width: 100vw;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    .Centr2{
        width: 1300px;
        height: 630px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .Raz{
            width: 536px;
            height: 540px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h1{
                font-size: 85px;
                color: #311F09;
            }
            p{
                font-size: 20px;
                color: #5C4529;
            }
            .Res{
                width: 153px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 30px;
                background-color: #FFE8CC;
                p{
                    font-size: 18px;
                    color: #FF8A00;
                }
            }
            .Knokpi{
                width: 488px;
                height: 75px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .taz{
                    width: 232px;
                    height: 74px;
                    border: none;
                    border-radius: 30px;
                    color: white;
                    cursor: pointer;
                    font-size: 20px;
                    background-color: #FF8A00;
                }
                .vaz{
                    width: 232px;
                    height: 74px;
                    border: none;
                    border-radius: 30px;
                    color: white;
                    cursor: pointer;
                    font-size: 20px;
                    background-color: #3FA72F;
                }
            }
        }
        .Dva{
            width: 700px;
            height: 600px;
        }
    }
}